{% assign project_slug = include.project_title | slugify %}
{% assign portfolio_data = site.data.portfolio[project_slug] %}
<div class="project-image column" style="background-image:url('{{- portfolio_data.tile_image -}}');">
    <a href="{% link {{ portfolio_data.file }} %}">
        <div class="project-title-background">
            <h2 class="project-title">{{ portfolio_data.title }}</h2>
        </div>

        <div class="project-description">
            {% for detail in portfolio_data.details %}
            <b>{{ detail.title }}</b>: {{ detail.value_short | default: detail.value }}<br>
            {% endfor %}
        </div>
    </a>
</div>
