---
---

@use "minima";

/*-------------------------
General layout
-------------------------*/
.wrapper-wide {
	@extend .wrapper;
	max-width: 60%;
}

.page-title {
    text-align: center
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.3em;
  }

.columns {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap !important;
	gap: 2em;
}
// Only show a single column on small screens
@media screen and (max-width: 768px) {
	.columns .project-image {
		flex-basis: 100% !important;
		flex-grow: 0 !important;
	}
}

.column {
	flex-basis: 0px;
	flex-grow: 1;
}

.aspect-16-9 {
	aspect-ratio: 16/9;
}

.spacer {
	clear: both;
	visibility: hidden;
}

.align-right {
	float: right;
	margin-left: 1.5em;
	max-width: 50%;
}

/*-------------------------
Portfolio
-------------------------*/
.project-title {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: .03em;
	position: relative;
	top: 50%;
	left: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.62);
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.project-title-background {
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	width: 100%;
	height: 100%;
	left: 50%;
	position: absolute;
	top: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 0;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.project-image:hover .project-title-background {
	background: rgba(0, 0, 0, 0.25);
	opacity: 0;
}

.project-image {
	background-color: #ccc;
	background-size: cover;
	background-position: 50% 50%;
	height: 250px;
	position: relative;
}
.project-image:hover {
    cursor: pointer;
}

.project-image div.project-description {
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    font-family: inherit;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.2s linear; 
    transition: visibility 0s, opacity 0.2s linear;
}
.project-image:hover div.project-description {
    width: 100%;
    height: auto;
    visibility: visible;
    opacity: 0.7; 
}

.project-archive .column {
	width: 30%;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	display: block;
}
