---
layout: default
---
{% assign project_slug = page.title | slugify %}
{% assign project_data = site.data.portfolio[project_slug] %}

<div class="columns">
    {% if project_data.video_id %}
    <iframe class="column video-embed aspect-16-9" src="http://www.youtube.com/embed/{{ project_data.video_id }}" frameborder="0" allowfullscreen></iframe>
    {% elsif project_data.image_path %}
    <div class="column">
        <img src="{{ project_data.image_path }}">
    </div>
    {% endif %}
    <div class="column">
        {% if project_data.current_features %}
        {% assign features = project_data.current_features %}
        <h2>Current Features</h2>
        {% elsif project_data.responsibilities %}
        {% assign features = project_data.responsibilities %}
        <h2>Responsibilities and Work</h2>
        {% endif %}
        {% if features %}
        <ul>
            {% for feature in features %}
            <li>
                {% if feature.has_details %}
                <a href="#{{ feature.details_heading | default: feature.name | slugify }}">{{ feature.name }}</a>
                {% else %}
                {{ feature.name }}
                {% endif %}

                {% if feature.subdetails %}
                <ul>
                    {% for subdetail in feature.subdetails %}
                    <li>
                        {% if subdetail.has_details %}
                        <a href="#{{ subdetail.details_heading | default: subdetail.name | slugify }}">{{ subdetail.name }}</a>
                        {% else %}
                        {{ subdetail.name }}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

<div class="spacer" style="height:30px"></div>

<div class="columns">
    <div class="column">
        <h2>Project Description</h2>
        <p>{{ project_data.description }}</p>
    </div>
    {% if project_data.details or project_data.available_on %}
    <div class="column">
        <h2>Additional Information</h2>
            {% for detail in project_data.details %}
                <b>{{ detail.title }}</b>: {{ detail.value }}<br>
            {% endfor %}
        {% if project_data.available_on %}
            <b>Available on</b>:
            {% for platform in project_data.available_on %}
            <a href="{{ platform.link }}">{{ platform.name }}</a>{% unless forloop.last %},{% endunless -%}
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}
</div>

<div class="spacer" style="height:30px"></div>

{{ content }}
